body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f9fa;
}

.App {
  text-align: center;
}

.player-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.player-item {
  margin: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  max-width: 300px;
  padding: 10px;
}

.player-item img {
  width: 100%;
  border-radius: 8px;
}

.player-item h2 {
  font-size: 1.5em;
  margin: 10px 0;
}
